<div class="login-container">
    
    <div class="login-illustration">
        <img src="wings4.jpg" alt="Ilustración de bienvenida">
    </div>

    <div class="login-form">
        <div class="form-content">
            <img src="wings4.jpg" alt="Logo de Garage Sushis and More" class="form-logo">
            
            <h2>Bienvenido!!</h2>
            
            <div class="input-group">
                <i class="fas fa-at"></i>
                <input type="text" placeholder="Usuario" 
                [(ngModel)]="loginData.usuario" name="usuario">
            </div>

            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Contraseña"
                [(ngModel)]="loginData.contrasena" name="contraseña">
            </div>

            <a href="#" class="forgot-password"></a>

            <button class="login-button" (click)="iniciarSesion()">Iniciar Sesion</button>

        </div>
    </div>

    <div class="modal-backdrop" *ngIf="mostrarAlertaModal">
        <div class="modal-content">
            
            <div class="modal-header">
                <div class="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon-error">
                        <path fill-rule="evenodd" d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd" />
                    </svg>
                </div>
            </div>
            
            <div class="modal-body">
                <h3>Atención</h3>
                <p>{{ textoAlerta }}</p>
            </div>
            
            <div class="modal-footer">
                <button (click)="cerrarAlerta()">Entendido</button>
            </div>

        </div>
    </div>

</div>